#P{

  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}


#Home{
  padding-top: 100px;
}
#h1{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
